---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: {
      isFree: true,
    },
    popular: false,
    features: [
      "Email - unlimited accounts",
      "Attachments manager",
      "Contacts manager",
      "Blazing fast search",
      "Works offline",
      "Complete privacy",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Professional",
    price: {
      oneTime: "$29",
    },
    popular: true,
    features: [
      "All Personal Features +",
      "Mobile app",
      "Slack, Google Calendar - unlimited accounts",
      "Managed inbox with AI",
      "Open Source AI on your own cloud server for full privacy",
      "72 hour email support from real human",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Power",
    price: {
      oneTime: "$69",
    },
    popular: false,
    features: [
      "All Professional Features +",
      "Collaborate with others",
      "Web in a box - blogs, websites downloaded and stored offline",
      "Search all online files: Google Drive, Dropbox, OneDrive, etc",
      "Search all local files: unlimited hard disks and USB drives",
      "24 hour email support from real human",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Start for free.<br />Upgrade when you want, pay once and use forever.
        Free updates for a year.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
