@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@460;700&display=swap");
@import url("https://cdn-images.mailchimp.com/embedcode/slim-10_7.css");

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  font-family: Quicksand, sans-serif;
  font-weight: 460;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1.subtitle,
h2.subtitle,
h3.subtitle,
h4.subtitle,
h5.subtitle,
h6.subtitle {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
}
h1 {
  margin: 1rem 0 2.125rem;
  letter-spacing: -0.1rem;
}
h2 {
  margin: 1.05rem 0 1.75rem;
  letter-spacing: -0.08rem;
}
h3 {
  margin: 0.85rem 0 1.55rem;
}
h4 {
  margin: 0.7rem 0 1.25rem;
}

.blog-post {
  margin: 2rem 0 12rem 0;
}
.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
  font-family: "Quattrocento", serif;
  font-weight: 700;
}
.blog-post h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
.blog-post h2 {
  font-size: 2.25rem;
  color: #386299;
  margin: 2.5rem 0 1.125rem;
}
.blog-post h3 {
  font-size: 1.875rem;
  color: #386299;
  margin: 0.725rem 0 1.75rem;
}
.blog-post p {
  font-size: 1.25rem;
  margin: 1.25rem 0;
  letter-spacing: 0.07rem;
}
.blog-post .videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 2.5rem 0;
}
.blog-post .videoContainer .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
