---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
// Supports weights 300-700
import "@fontsource-variable/space-grotesk";
// Supports weights 200-800
import "@fontsource-variable/manrope";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "dwata"
  : "dwata - AI assistants for everyone";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="general purpose AI studio. Mix AI models, connect to databases, APIs (like Stripe), CSV/Excel files, even email"
      canonical={canonicalURL}
      twitter={{
        creator: "@sumitdatta",
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      h1,
      h2,
      h3,
      h4 {
        font-family: "Space Grotesk Variable", sans-serif;
      }
    </style>
  </body>
</html>
