[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
starlette = "*"
uvicorn = "*"
python-decouple = "*"
python-rapidjson = "*"
loguru = "*"
aiohttp = "*"
aioredis = "*"
rapidjson = "*"
psycopg2 = "*"
faker = "*"
sqlalchemy-migrate = "*"
databases = {extras = ["sqlite"],version = "*"}
aioamqp = "*"

[requires]
python_version = "3.8"
