@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

// Update Bulma's global variables
$family-sans-serif: "Titillium Web", sans-serif;

// Reduce the size of the default shadow
$scheme-invert: hsl(0, 0%, 4%);
$card-shadow: 0 0 0 1px rgba($scheme-invert,.1), 0 2px 4px 0 rgba(14,30,37,.12);
$panel-shadow: 0 0 0 1px rgba($scheme-invert,.1), 0 2px 4px 0 rgba(14,30,37,.12);
$box-shadow: 0 0 0 1px rgba($scheme-invert,.1), 0 2px 4px 0 rgba(14,30,37,.12);
$table-shadow: 0 0 25px rgba(0, 0, 0, 0.1);

@import '../../node_modules/bulma';
@import '../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/solid.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/regular.css';

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  background-image: linear-gradient(141deg, #dfd8d9 0%, whitesmoke 71%, white 100%);
  min-height: 100%;
  min-width: 100%;
}

h1, h2, h3 {
  &.title {
    font-weight: 900;
  }
}

.has-box-shadow {
  box-shadow: $box-shadow;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 480px;

  background-color: rgba(109, 109, 109, 0.404);
  border-right: 4px solid #5c5c5c;

  .head {
    text-align: right;

    .button {
      border: none;
      margin: 0.5rem -3rem 0 0;
    }
  }

  .title {
    color: wheat;
  }

  z-index: 100;

  .panel {
    background-color: white;

    .panel-block {
      cursor: pointer;
    }
  }
}

.navbar {
  background-color: #efefef;

  button {
    font-weight: bold;
  }

  .navbar-brand {
    .navbar-item {
      font-size: x-large;
      padding: 0 3rem;
    }
  }

  a {
    &.navbar-item {
      font-weight: bold;
    }
  }

  .navbar-end {
    .navbar-item {
      .button {
        &.is-spec {
          border-bottom: 2px solid #48c774;
        }
      }
    }
  }
}

table {
  &.is-data-table {
    border-top: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
    box-shadow: $table-shadow;

    &:hover {
      border-top: 4px solid #48c774;
      border-bottom: 4px solid #48c774;
    }
  }

  thead {
    tr {
      th {
        .hd-btn {
          display: inline-block;
          padding: 0 0.6rem;
          background-color: #efefef;
          border-radius: 0.4rem;
          position: relative;
          cursor: pointer;
          color: #787878;

          &.hdicn {
            padding: 0 1.2rem 0 0.6rem;
          }

          &.hdicn::after {
            border: 2px solid #787878;
            border-right: 0;
            border-top: 0;
            content: " ";
            display: block;
            height: 0.4em;
            width: 0.4em;
            pointer-events: none;
            position: absolute;
            top: 60%;
            transform-origin: center;
            right: 0.5rem;
            margin-top: -0.375em;
          }

          &.icn-asc::after {
            top: 65%;
            transform: rotate(135deg);
          }
          &.icn-desc::after {
            transform: rotate(-45deg);
          }
        }

        &:hover {
          .hd-btn {
            color: #4c4c4c;
          }
        }
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &.is-pin {
        background-color: #efefef;
      }
    }
  }
}

.box {
  &.has-no-shadow {
    box-shadow: none;
  }
}


#paginator {
  z-index: 80;
  background-color: #fdf7e3;
  padding: 0.4rem 0.6rem;
  box-shadow: $box-shadow;
  border-radius: $radius-small;
  position: fixed;
  bottom: 4rem;
  right: 12rem;
}


#detail-modal {
  z-index: 100;
  background-color: white;
  box-shadow: $box-shadow;
  position: fixed;
  top: 4rem;
  left: 12rem;
  width: 60%;

  section {
    padding: 1rem;

    .button {
      &.close {
        position: absolute;
        top: -1.6rem;
        right: -2rem;
      }
    }

    .container {
      .columns {
        .column {
          &.has-meta-data {
            min-height: 21rem;
            background-color: whitesmoke;

            .input {
              &:disabled {
                background-color: #efefef;
              }
            }
          }
        }
      }
    }
  }
}

#column-selector {
  z-index: 90;
  background-color: white;
  box-shadow: $box-shadow;
  border-left: 4px solid #efefef;
  position: fixed;
  min-width: 24rem;
  top: 4rem;
  right: 1rem;

  &:hover {
    border-left: 4px solid #48c774;
  }

  section {
    padding: 1.2rem 1.6rem;
  }
}


#filter-editor {
  z-index: 90;
  background-color: white;
  box-shadow: $box-shadow;
  border-left: 4px solid #efefef;
  position: fixed;
  min-width: 32rem;
  top: 4rem;
  right: 1rem;

  &:hover {
    border-left: 4px solid #48c774;
  }

  section {
    padding: 1.2rem 1.6rem;
  }
}


#order-editor {
  z-index: 90;
  background-color: white;
  box-shadow: $box-shadow;
  border-left: 4px solid #efefef;
  position: fixed;
  min-width: 32rem;
  top: 4rem;
  right: 1rem;

  &:hover {
    border-left: 4px solid #48c774;
  }

  section {
    padding: 1.2rem 1.6rem;
  }
}


#actions-modal {
  z-index: 90;
  background-color: white;
  box-shadow: $box-shadow;
  border-left: 4px solid #efefef;
  position: fixed;
  min-width: 16rem;
  top: 4rem;
  left: 58rem;

  &:hover {
    border-left: 4px solid #48c774;
  }

  section {
    padding: 1.2rem 1.6rem;
  }
}


.col-hd-spec-box {
  z-index: 80;
  background-color: #fdf7e3;
  padding: 0.4rem 0.6rem;
  box-shadow: $box-shadow;
  border-radius: $radius-small;
  position: absolute;
  top: 5.65rem;
  min-width: 12rem;
  display: block;
}


#notes-modal {
  z-index: 100;
  background-color: white;
  box-shadow: $box-shadow;
  position: fixed;
  top: 4rem;
  left: 12rem;
  width: 60%;

  section {
    padding: 1rem;

    .button {
      &.close {
        position: absolute;
        top: -1.6rem;
        right: -2rem;
        z-index: 110;
      }
    }

    .content {
      background-color: #fdf7e3;
      padding: 0.8rem;
    }
  }
}