@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&family=Alegreya:wght@900&display=swap');

// Update Bulma's global variables
$family-sans-serif: "Titillium Web", sans-serif;
$family-serif: "Alegreya";

// Reduce the size of the default shadow
$scheme-invert: hsl(0, 0%, 4%);
$card-shadow: 0 0 0 1px rgba($scheme-invert,.1), 0 2px 4px 0 rgba(14,30,37,.12);
$panel-shadow: 0 0 0 1px rgba($scheme-invert,.1), 0 2px 4px 0 rgba(14,30,37,.12);
$box-shadow: 0 0 0 1px rgba($scheme-invert,.1), 0 2px 4px 0 rgba(14,30,37,.12);
$table-shadow: 0 0 25px rgba(0, 0, 0, 0.1);

@import '../../node_modules/bulma';
@import '../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/solid.css';

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  background-image: linear-gradient(141deg, #dfd8d9 0%, whitesmoke 71%, white 100%);
  min-height: 100%;
  min-width: 100%;
}

h1, h2, h3 {
  &.title {
    font-family: $family-serif;
    font-weight: 900;
  }
}

.has-box-shadow {
  box-shadow: $box-shadow;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 480px;

  background-color: rgba(109, 109, 109, 0.404);
  border-right: 4px solid #5c5c5c;

  .head {
    text-align: right;

    .button {
      border: none;
      background-color: #5c5c5c;
      margin: 0.5rem -3rem 0 0;
    }
  }

  .title {
    color: wheat;
  }

  z-index: 100;

  .panel {
    background-color: white;

    .panel-block {
      cursor: pointer;
    }
  }
}

.navbar {
  font-weight: bold;
  background-color: #efefef;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  button {
    font-weight: bold;
  }

  .navbar-brand {
    .navbar-item {
      font-size: x-large;
      padding: 0 3rem;
    }
  }
}

table {
  &.is-data-table {
    border-top: 4px solid #48c774;
    border-bottom: 4px solid #48c774;
    box-shadow: $table-shadow;
  }

  thead {
    tr {
      th {
        cursor: n-resize;

        &:hover {
          background-color: #efefef;
        }
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.box {
  &.has-no-shadow {
    box-shadow: none;
  }
}

#detail-modal {
  z-index: 100;
  background-color: white;
  box-shadow: $box-shadow;
  position: fixed;
  top: 2rem;
  left: 12rem;
  width: 60%;

  section {
    padding: 1rem;

    .container {
      .columns {
        .column {
          &.is-3 {
            min-height: 21rem;
            background-color: #fdf7e3;

            .input {
              &:disabled {
                border-color: #f1e5bc;
                background-color: #fbf2d4;
              }
            }
          }
        }
      }
    }
  }
}