@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/regular.css";
@import "./fonts.openSans.css";
@import "./fonts.montserrat.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #333333;
  background-color: #f7fafc;
}

@layer components {
  h1 {
    @apply text-4xl font-semibold leading-10 pt-3 pb-2;
  }

  h2 {
    @apply text-3xl font-semibold leading-10 pt-3 pb-2;
  }

  h3 {
    @apply text-2xl font-semibold leading-7 text-gray-800 pt-2 pb-1;
  }

  h4 {
    @apply text-xl font-semibold leading-7 text-gray-800 pt-2 pb-1;
  }

  h5 {
    @apply text-lg font-bold leading-6 text-gray-800 pt-2 pb-1;
  }

  ul {
    @apply list-disc pl-5;
  }
}
