@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat:wght@400;500;600;700&display=swap");
@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/regular.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #333333;
  background-color: #f7fafc;
}
