---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Software for impact
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Hi, I am Sumit. I am building dwata because I feel software should empower
    all of us, irrespective of how much we can pay. Software for daily impact is
    at the heart of dwata. Let's join to build a better digital future for
    everyone. Please feel free to connect and share your thoughts.
  </p>
  <div class="flex mt-5">
    <Link href="https://www.linkedin.com/in/brainless/" style="inverted"
      >Connect on LinkedIn</Link
    >
  </div>
</div>
