---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "All your data",
    description:
      "dwata can access all your emails, calendars, Slack, LinkedIn, and more. Everything stored on your laptop, completely private.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Fully offline",
    description:
      "Your entire digital footprint is available offline, Internet not needed. Go on flight mode!",
    icon: "bx:bxs-data",
  },
  {
    title: "Complete privacy",
    description:
      "dwata runs on your laptop and no data, not even product analytics, leaves your laptop without your permission!",
    icon: "bx:bxs-bot",
  },
  {
    title: "Organize with AI",
    description:
      "Label your emails, documents; organize into folders; rename files with context... let AI do the hard work daily.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "What needs to be done?",
    description:
      "Let AI find out tasks that are waiting for you, constantly filtering them out from new emails, messages, notes...",
    icon: "bx:bxs-user",
  },
  {
    title: "Personal crawler",
    description:
      "dwata has a built in web crawler which can fetch all your web research, blogs, and more.",
    icon: "bx:bxs-file-find",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Living with emails, calendars, Slack, LinkedIn...?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Getting everything in one place, searching across mutliple accounts, keeping
    track of todos, delegating information with others can all take up a lot of
    our daily time. Some days we are on top of our digital life, while on other
    days they drag us down.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
