---
import { Picture } from "astro:assets";
import dwataScreenshot from "assets/0.2.0_email_screen.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main class="pt-2 md:pt-16 pb-8 md:pb-24">
  <div>
    <h1 class="text-5xl lg:text-7xl font-bold lg:tracking-tight">
      Your emails are a treasure trove.
    </h1>
    <div class="mt-4">
      <Picture
        src={dwataScreenshot}
        alt="Email screen in dwata"
        class="w-full max-w-screen-md mx-auto rounded-md drop-shadow-md my-12"
      />

      <div
        class="text-xl md:text-3xl text-center font-semibold my-6 text-slate-700">
        dwata is a private app that uses AI to unlock your emails' real value.
        Emails, files, calendars, contacts: all searchable and beautifully
        organized.
      </div>

      <div class="flex flex-col text-lg gap-y-1 mt-3 text-slate-600">
        <div><strong>Blazing fast</strong> search</div>
        <div><strong>Unlimited</strong> accounts</div>
        <div>
          Runs on <strong>your computer</strong>
        </div>
        <div>
          Open source and <strong>100% private</strong>
        </div>
      </div>

      <div class="text-red-400 mt-6">
        dwata is in a very early stage of development
      </div>

      <div class="mt-3 flex flex-col sm:flex-row gap-3">
        <Link
          size="md"
          href="https://github.com/pixlie/dwata/releases/latest"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

          Download for Free
        </Link>
        <Link
          size="md"
          style="outline"
          rel="noopener"
          href="https://github.com/pixlie/dwata"
          class="flex gap-1 items-center justify-center"
          target="_blank">
          <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
          GitHub Repo
        </Link>
      </div>
    </div>
  </div>
</main>
