@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/regular.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  height: 100vh;
}

body,
div#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

table.dwata-grid tr td {
  overflow: hidden;
  overflow-wrap: break-word;
}

div.markdown {
  font-family: "Manrope", sans-serif;
}

div.markdown p {
  margin-top: 0.5rem; /* 8px */
  margin-bottom:0.5rem;
}

div.markdown h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-top: 1rem; /* 8px */
  margin-bottom: 1rem;
}

div.markdown ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 0.5rem;
}

div.markdown ol li {
  margin-bottom: 0.5rem;
}

div.markdown ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0.5rem;
}

div.markdown ul li {
  margin-bottom: 0.5rem;
}
