@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/regular.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  height: 100vh;
}

body,
div#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

table.dwata-grid tr td {
  overflow: hidden;
  overflow-wrap: break-word;
}
